.cache
.conda
.config
.dotnet
.local
.nv
.ssh
.vscode-server
anaconda3
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile
.python_history
.wget-hsts
.Xauthority
.Xdefaults
.xscreensaver
.gitignore
main_folder
.keras
.netrc
FasterRCNN
system_files
#cvat2yolo-conversion-main
raindrops
datasets

# Bestimmte Dateitypen ausschließen
*.log
*.tmp
*.bak
*.wandb
